body {
  margin: 0px auto;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(173, 170, 170);
}

.App {
  display: flex;
  justify-content: center;
  padding: 30px;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.users-container {
  max-width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
}

.search {
  display: flex;
  justify-content: center;
}

.search-icon {
  
}

.search-input {
  border: none;
  outline: none;
}

.send-invite-btn {
  padding: 5px 20px;
  background-color: rgb(213, 139, 1);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.user-item {
  list-style: none;
}

.user-content {
  display: flex;
  flex-direction: row;
}

.user-title {
  text-align: left;
}

.user-name {
  font-size: 1rem;
}

.user-avatar {
  border-radius: 50%;
}